*{
    font-family: Arial;
    color: white;
 
}
body{
    background-image: url("todo.png");
    background-repeat: no-repeat;
    background-size: cover;

}
.main{
    margin-left: 600px;
    margin-top: 200px;
}
.main p{
    font-size: 80px;
    
}
.todo-grid,.todo-input-grid{
    display: grid;
    grid-template-columns: 300px 250px 200px;
   column-gap: 10px;
   row-gap: 10px;
   align-items: center;
  
}
.todo-input-grid{
    margin-bottom: 10px;
    align-items: stretch;
}
.name-input,.due-date-input{
    font-size: 15px;
    padding: 6px;
}
.add-todo-button{
    background-color: green;
    color: white;
    font-size: 15px;
    border: none;
    padding: 6px;
    width: 200px;
    cursor: pointer;
}
.delete-todo-button{
    background-color: darkred;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}